<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

<header id="gh-head" class="gh-head">
    <nav class="gh-head-inner gh-container">

        <div class="gh-head-brand">
            <a class="gh-head-logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            <a class="gh-burger" role="button" aria-label="menu">
                <div class="gh-burger-box">
                    <div class="gh-burger-inner"></div>
                </div>
            </a>
        </div>
        <div class="gh-head-menu">
            {{navigation}}
        </div>
        <div class="gh-head-actions">
            <div class="gh-head-actions-list">
                {{search}}
                {{#if @site.members_enabled}}
                    {{^if @member}}
                    <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
                    {{else}}
                    <a class="gh-button" href="#/portal/account">Account</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </nav>
</header>

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="gh-foot">
    <div class="gh-container">
        <div class="gh-foot-menu">
            {{navigation type="secondary"}}
        </div>
        <div class="gh-foot-meta">
            Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>

        <div class="gh-inner" style="display: flex;justify-content:center;margin-top:0rem;border-top: 1px gray dotted;padding-top: 5px;flex-wrap:wrap;">
            
            <img src="/assets/images/powered-by-debian.webp" alt="Powered by Debian" height="31" width="88">
            <img src="/assets/images/nocookie.webp" alt="No Cookie!" height="31" width="88">
<img src="/assets/images/anythingbutchrome.webp" style="height:31px;width:88px;max-width:100%;image-rendering:pixelated;image-rendering:crisp-edges" alt="Anything but Chrome.">
<img src="/assets/images/the-truth-is-out-there.webp" style="height:31px;width:88px;max-width:100%;image-rendering:pixelated;image-rendering:crisp-edges" alt="The Truth is Out There! I just forget the URL">
<img src="/assets/images/fspeech96.webp" style="height:31px;width:88px;max-width:100%;image-rendering:pixelated;image-rendering:crisp-edges" alt="Free Speech NOW!">
<img src="/assets/images/firefox-user.webp" style="height:31px;width:88px;max-width:100%;image-rendering:pixelated;image-rendering:crisp-edges" alt="Firefox User">
       <a href="https://manasiwibi.com/rss/"><img src="/assets/images/rss-button.webp" alt="RSS" style="height:31px;width:88px;max-width:100%;image-rendering:pixelated;image-rendering:crisp-edges" height="31" width="88"></a>

       <a href="http://hkshpsqa4ezs4jlp7zrcvupnfjpaguu2jngza2zcjr426yxkdzn3faad.onion/"><img src="/assets/images/tor.webp" alt="Tor!" style="height:31px;width:88px;max-width:100%;image-rendering:pixelated;image-rendering:crisp-edges" height="31" width="88"></a>



</div>

    </div>
</footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
